.tabs {
  &__panel {
    visibility: hidden;
    opacity: 0;

    &.is-active {
      visibility: visible;
      opacity: 1;

      animation: showSection var(--duration__250) var(--easing__s) forwards;
    }

    &.is-fading {
      visibility: hidden;
      opacity: 0;

      animation: hideSection 150ms var(--easing__s) forwards;
    }
  }

  &__content {
    --dialog-shape-height: 72px;
    --border-square-size: 12px;
    --border-total-size: 42px;

    position: relative;
    z-index: 1;

    display: flex;
    min-height: 16rem;
    border-image: url(../../images/border__section.svg);
    border-width: var(--border-total-size);
    border-image-slice: 42;
    border-style: solid;

    &::after {
      content: '';
      position: absolute;
      top: calc(
        100% + calc(var(--border-total-size) - var(--border-square-size))
      );
      left: 30%;

      height: var(--dialog-shape-height);
      width: 92px;
      background-image: url(../../images/border__dialog-shape.svg);
      background-repeat: no-repeat;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;

      width: 100%;
      height: 100%;
      background-color: var(--color__comp--02);
    }

    p {
      align-self: center;
      text-align: center;
    }

    &--portfolio {
      &::after {
        left: 50%;
        transform: scaleX(-1);
      }
    }
  }

  &__folk {
    height: 14.5rem;
    text-align: right;
    margin-top: var(--spacer__24);
    margin-right: var(--spacer__32);
    margin-left: var(--spacer__32);
    overflow: hidden;

    svg {
      width: 14rem;
      vertical-align: bottom; // Remove whitespace (gap) between svg and div
      transform: scaleX(-1);
    }

    &--02 {
      text-align: left;

      svg {
        transform: scaleX(1);
      }
    }

    &--03 {
      svg {
        width: 12rem;
      }
    }
  }

  @keyframes showSection {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hideSection {
    0% {
      visibility: visible;
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
    }
  }
}
