.tabs {
  &__panel {
    visibility: hidden;
    opacity: 0;

    &.is-active {
      visibility: visible;
      opacity: 1;

      animation: showSection var(--duration__250) var(--easing__s) forwards;
    }

    &.is-fading {
      visibility: hidden;
      opacity: 0;

      animation: hideSection 150ms var(--easing__s) forwards;
    }
  }

  &__content {
    --dialog-shape-height: 72px;
    --border-square-size: 12px;
    --border-total-size: 42px;

    position: relative;

    border-image: url(../../images/border__section.svg);
    border-width: var(--border-total-size);
    border-image-slice: 42;
    border-style: solid;

    &::after {
      content: '';
      position: absolute;
      top: calc(
        100% + calc(var(--border-total-size) - var(--border-square-size))
      );
      left: 50%;
      transform: translateX(-50%);

      height: var(--dialog-shape-height);
      width: 92px;
      background-image: url(../../images/border__dialog-shape.svg);
      background-repeat: no-repeat;
    }

    span {
      display: inline-block;
      text-align: center;
      background-color: var(--color__comp--02);
    }
  }

  &__dude {
    text-align: right;
    margin-top: var(--spacer__24);
    margin-right: var(--spacer__24);

    svg {
      vertical-align: bottom; // Remove whitespace (gap) between svg and div
    }
  }

  @keyframes showSection {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hideSection {
    0% {
      visibility: visible;
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
    }
  }
}
