.tabs {
  // LAYOUT
  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% - 12.4rem);
  }

  &__folk {
    flex-basis: 12.4rem;
  }
  // END LAYOUT

  &__panel {
    visibility: hidden;
    opacity: 0;
    // Fix Blurry text in Chrome
    transform: translate3d(0, 0, 0);

    &.is-active {
      visibility: visible;
      opacity: 1;

      animation: showSection var(--duration__250) var(--easing__s) forwards;
    }

    &.is-fading {
      visibility: hidden;
      opacity: 0;

      animation: hideSection 250ms var(--easing__s) forwards;
    }
  }

  &__content {
    --dialog-shape-height: 72px;
    --border-square-size: 12px;

    position: relative;
    z-index: 1;

    min-height: 16rem;
    max-height: 25rem;

    --leftSize: 34px;
    --rightSize: calc(100% - var(--leftSize));
    background: linear-gradient(
      to right,
      transparent 0,
      transparent var(--leftSize),
      var(--color__comp--02) var(--leftSize),
      var(--color__comp--02) var(--rightSize),
      transparent var(--rightSize),
      transparent 100%
    );

    &::after {
      // Dialog thingy
      content: '';
      position: absolute;
      top: calc(100% - var(--border-square-size));
      left: 38%;

      height: var(--dialog-shape-height);
      width: 92px;
      background-image: url(../../images/border__dialog-shape.svg);
      background-repeat: no-repeat;

      @include respond-to('small__m') {
        left: 15%;
      }
    }

    &::before {
      // Pixelated border
      @include jm__pseudo-element;
      z-index: -1;

      border-image: url(../../images/border__section.svg);
      border-width: 42px;
      border-image-slice: 42;
      border-style: solid;
    }

    &--portfolio {
      &::after {
        left: 50%;
        transform: scaleX(-1);

        @include respond-to('small__m') {
          left: 59%;
        }
      }
    }

    &-container {
      height: 100%;
      margin: 2.5rem 14px 2.3rem 2.5rem;
      padding-right: 1.2rem;
      overflow: auto;

      // This rule is only to fix a bug in Chrome
      &::after {
        @include jm__pseudo-element(
          $width: calc(100% - 24px),
          $height: calc(100% - 70px),
          $top: 50%,
          $left: 50%
        );
        z-index: -1;
        transform: translate(-50%, -50%);

        background-color: var(--color__comp--02);
      }
    }
  }

  &__title {
    line-height: 12px;
    margin-bottom: var(--spacer__20);
  }

  &__text {
    margin-bottom: var(--spacer__8);

    & > p:not(:last-child) {
      margin-bottom: var(--spacer__16);
    }
  }

  &__portfolio {
    dl {
      margin-bottom: var(--spacer__24);
    }

    dd {
      display: list-item;
      list-style-type: '+';
      margin-left: var(--spacer__16);
      padding-left: var(--spacer__8);
    }
  }

  &__link {
    margin-bottom: var(--spacer__16);
  }

  &__folk {
    text-align: right;
    margin-top: var(--spacer__24);
    margin-right: var(--spacer__40);
    margin-left: var(--spacer__40);
    overflow: hidden;

    @include respond-to('small__m') {
      margin: var(--spacer__16);
      margin-bottom: 0;
    }

    svg {
      width: 12rem;
      vertical-align: bottom; // Remove whitespace (gap) between svg and div
      transform: scaleX(-1);
    }

    &--02 {
      text-align: left;

      svg {
        transform: scaleX(1);
      }
    }

    &--03 {
      svg {
        width: 10rem;
      }
    }
  }

  @keyframes showSection {
    0% {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes hideSection {
    0% {
      visibility: visible;
      opacity: 1;
    }
    99% {
      opacity: 0;
    }
    100% {
      visibility: hidden;
    }
  }
}
