{% import '../macros/nav.njk' as navTab %}

{% set buttonContent = [
	{
		'label': 'about'
	}, {
		'label': 'portfolio'
	}, {
		'label': 'freelance-works'
	}
] %}

<header>
	<div class="header__container">

		<nav>
			<ul class='tabs__nav-list' role='tablist'>
				{% for button in buttonContent %}
					{{ navTab.nav(button.label, loop.index)}}
				{% endfor %}
			</ul>
		</nav>

	</div>
</header>