{% import '../macros/nav.njk' as navTab %}

<header>
	<div class="header__container">

		<nav>
			<ul class='tabs__nav-list' role='tablist'>
				{% for button in buttons %}
					{{ navTab.nav(button.label, loop.index)}}
				{% endfor %}
			</ul>
		</nav>

	</div>
</header>