{% import "../macros/nav.njk" as navTab %}

<header class="header-main">
	<div class="header-main__container">

		<nav class="header-main__nav nav-main" aria-labelledby="main-menu">

			<h2 id="main-menu" hidden>Main Menu</h2>
			<ul class="nav-main__element tabs__nav-list" role="tablist">
				{% for button in buttons %}
					{{ navTab.nav(button.label, loop.index, button.icon)}}
				{% endfor %}
			</ul>

		</nav>

	</div>
</header>