{% import 'macros/sections.njk' as sectionsTab %}

{% set page_name = 'Home' %}
{% extends "layouts/layout.njk" %}

{% set sectionContent = [
	{
		'label': 'about'
	}, {
		'label': 'portfolio'
	}, {
		'label': 'freelance-works'
	}
] %}

{% block content %}

  {% for section in sectionContent %}
    {{ sectionsTab.section(section.label, loop.index)}}
  {% endfor %}

{% endblock %}