{% import 'macros/sections.njk' as sectionsContent %}

{% set page_name = 'Home' %}
{% extends "layouts/layout.njk" %}

{% block content %}

  {% for section in sections %}
    {{ sectionsContent.section(section.label, section.content, loop.index, section.folk, section.links)}}
  {% endfor %}

{% endblock %}