{% macro navMain(label, position, icon) %}

	<article class="tabs__nav-item tabs__nav-item--{{ label }}  nav-main__element" role="presentation">
		<h3 class="visually-hidden">{{ label }} section</h3>
		<div class="nav-main__item">
			<button 
				id="tab-label-{{ label }}" 
				type="button"
				class="nav-main__button {{ 'is-active' if label === 'about'}}"
				role="tab"
				tabindex={{ "0" if position === 1 else "-1" }}
				aria-controls="tab-panel-{{ label }}" 
				aria-selected={{ "true" if position === 1 else "false" }} 
				aria-setsize="3" 
				aria-posinset={{ position }}
				aria-labelledby="button-label--{{ label }}">
				<span id="button-label--{{ label }}" hidden>{{ label }}</span>
				<span class="nav-main__icon">
					<svg src="{{ icon }}.svg" class="nav-menu__icon"></svg>
				</span>
			</button>
		</div>
	</article>

{% endmacro %}