{% import "../macros/navSection.njk" as navLinks %}

{% macro section(label, content, position, folk, links) %}
	{% set isActive = 'is-active' if label === 'portfolio' %}
	{% set ariaHidden = 'aria-hidden=true' %}

	<section 
	 id='tab-panel-{{ label }}' 
	 class='tabs__panel {{ isActive }}' 
	 aria-labelledby='tab-label-{{ label }}' 
	 {{ ariaHidden if label !== 'about'}}
	 role='tabpanel' 
	 tabindex='-1'>
		<div class="tabs__content tabs__content--{{ label }}">
			<h2 class="tabs__title">{{ label }}</h2>
			<div class="tabs__text">
				<ul>
					{% for linkLabel, href in links %}
						{{ navLinks.navSection(linkLabel, href) }}
					{% endfor %}
				</ul>
				{% for element in content %}
					{{ element | safe }}
				{% endfor %}
			</div>
		</div>
		<div class="tabs__folk tabs__folk--0{{ position }}">
			<svg src="{{ folk }}.svg"></svg>
		</div>
	</section>

{% endmacro %}@♦@