{% macro section(label, content, position, dude) %}
	{% set isActive = 'is-active' if label === 'about'%}

	<section 
	 id='tab-panel-{{ label }}' 
	 class='tabs__panel {{ isActive }}' 
	 aria-labelledby='tab-label-{{ label }}' 
	 role='tabpanel' 
	 tabindex='-1'>
		<p class="tabs__content">
			<span>{{ content }}</span>
		</p>
		<div class="tabs__dude">
			<svg src="{{ dude }}.svg"></svg>
		</div>
	</section>

{% endmacro %}