{% set page = page_name | lower %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content='Portfolio for Jose Manuel Arellanes. UI designer and frontend developer. Javascript, React, Semantic HTML, CSS, Sass, GSAP.' 
    <link
      rel="preload"
      href="/fonts/pixter-display__regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link
      rel="preload"
      href="/fonts/pixter-display__bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin/>
    <link rel='preload' as="image" href='images/border__section.svg'/>
    <link rel='preload' as="image" href='images/border__dialog-shape.svg'/>
    <link rel="preload" href="css/app.css" as="style"/>
    <link rel="stylesheet" href="css/app.css"/>
    <script src="js/app.js" defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0R90M49KYC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-0R90M49KYC');
    </script>

    <title>My Portfolio | {{ page_name }}</title>
  </head>
  <body class="{{ page }}">
    <div id="{{ page }}__wrapper">
      {% include "partials/header.njk" %}

      <main class="{{ page }} {{ page }}__content">
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>