/* =====================================================================
  -> FONTS
===================================================================== */
///////////////////////////////////////////////////////////////////////
//  MUNRO FAMILY
@font-face {
  font-family: 'pixter-display__regular';
  font-display: swap;
  src: url('../fonts/pixter-display__regular.woff2') format('woff2'),
    url('../fonts/pixter-display__regular.woff') format('woff');
}

@font-face {
  font-family: 'pixter-display__bold';
  font-display: swap;
  src: url('../fonts/pixter-display__bold.woff2') format('woff2'),
    url('../fonts/pixter-display__bold.woff') format('woff');
}

/* =====================================================================
  -> GENERAL
===================================================================== */
body {
  font-family: var(--font__primary);
  font-size: jm_calculate-rem(20);
  line-height: jm_calculate-lh(30, 20);
  @include jm__text-properties;
}

/* =====================================================================
-> HEADINGS
===================================================================== */
h1,
.h1 {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(22);
  line-height: jm_calculate-lh(22, 22);
  text-transform: uppercase;
  color: var(--color__text--headings);
}

h2,
.h2 {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(20);
  line-height: jm_calculate-lh(20, 18);
  text-transform: uppercase;
  color: var(--color__text--headings);
}

h3,
.h3 {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(19.2);
  line-height: jm_calculate-lh(22, 19);
  text-transform: uppercase;
  color: var(--color__comp--04);

  @include respond-to('small__s') {
    font-size: jm_calculate-rem(17);
    line-height: jm_calculate-lh(24, 17);
  }
}

/* =====================================================================
-> PARAGRAPHS
===================================================================== */
.tabs__portfolio--project-title {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(21);
  line-height: jm_calculate-lh(24, 21);
}
