/* =====================================================================
  -> FONTS
===================================================================== */
///////////////////////////////////////////////////////////////////////
//  MUNRO FAMILY
@font-face {
  font-family: 'munro_regular';
  font-display: swap;
  src: url('../fonts/munro.woff2') format('woff2'),
    url('../fonts/munro.woff') format('woff'),
    url('../fonts/munro.ttf') format('truetype');
}

@font-face {
  font-family: 'munro_small';
  font-display: swap;
  src: url('../fonts/munro-small.woff2') format('woff2'),
    url('../fonts/munro-small.woff') format('woff'),
    url('../fonts/munro-small.ttf') format('truetype');
}

/* =====================================================================
  -> GENERAL
===================================================================== */
body {
  font-family: var(--font__primary);
  font-size: jm_calculate-rem(20);
  line-height: jm_calculate-lh(28, 20);
  @include jm__text-properties;
}

/* =====================================================================
-> HEADINGS
===================================================================== */
h1,
.h1 {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(34);
  line-height: jm_calculate-lh(34, 28);
  color: var(--color__text--headings);
}

h2,
.h2 {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(30);
  line-height: jm_calculate-lh(30, 30);
  color: var(--color__text--headings);
}

h3,
.h3 {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(24);
  line-height: jm_calculate-lh(24, 24);
  color: var(--color__comp--04);
}

/* =====================================================================
-> PARAGRAPHS
===================================================================== */
.tabs__portfolio--project-title {
  font-family: var(--font__headings);
  font-size: jm_calculate-rem(26);
  line-height: jm_calculate-lh(26, 26);
}
