:root {
  /* =====================================================================
    -> COLOR PALETTE
  ===================================================================== */
  --color__mode: 'light';

  --color__bg--main: var(--thm-light__primary);
  --color__bg--inner: var(--thm-light__primary--shade-1);
  --color__bg--lines: var(--thm-light__complementary-1);
  --color__text--headings: var(--thm-light__primary);
  --color__text--main: var(--thm-light__primary--shade-2);
  --color__text--highligth: var(--thm-light__complementary-3);
  --color__text--button: var(--thm__pure-white);
  --color__button--border: var(--thm-light__primary--shade-2);

  --color__secd: var(--thm-light__secondary);
  --color__secd-shade--1: var(--thm-light__secondary--shade-1);
  --color__secd-shade--2: var(--thm-light__secondary--shade-2);

  --color__comp--01: var(--thm-light__complementary-1);
  --color__comp--02: var(--thm-light__complementary-2);
  --color__comp--03: var(--thm-light__complementary-3);
  --color__comp--04: var(--thm-light__complementary-4);
  --color__comp--05: var(--thm-light__complementary-5);

  /* =====================================================================
    -> MARGINS AND PADDINGS
  ===================================================================== */
  // Base 16
  --spacer__4: 0.25rem;
  --spacer__8: 0.5rem;
  --spacer__12: 0.75rem;
  --spacer__16: 1rem;
  --spacer__20: 1.25rem;
  --spacer__24: 1.5rem;
  --spacer__32: 2rem;
  --spacer__40: 2.5rem;
  --spacer__48: 3rem;
  --spacer__56: 3.5rem;
  --spacer__64: 4rem;
  --spacer__72: 4.5rem;
  --spacer__80: 5rem;
  --spacer__96: 6rem;
  --spacer__112: 7rem;
  --spacer__128: 8rem;
  --spacer__160: 10rem;
  --spacer__176: 11rem;
  --spacer__192: 12rem;
  --spacer__208: 13rem;
  --spacer__256: 16rem;

  /* =====================================================================
	-> FONTS
  ===================================================================== */
  --font__headings: 'munro_small', sans-serif;
  --font__primary: 'munro_regular', sans-serif;

  /* =====================================================================
    -> MIX CSS CUSTOM PROPERTIES
  ======================================+=============================== */
  --duration__250: 250ms;
  --duration__350: 350ms;
  --easing__xl: cubic-bezier(0.8, 0, 0.2, 1);
  --easing__s: cubic-bezier(0.5, 0.7, 0.4, 1);
  --easing__s--01: cubic-bezier(0.5, 0.7, 0.4, 1.8);
}
